* html div{ height :1em; /* Workaround gegen den 3-Pixel-Bug des Internet Explorers 6 */ }
html{ font-family :Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size :100.1%; font-weight :normal; color :#404040; overflow :-moz-scrollbars-vertical; }
body{ margin :0 auto; padding :0px; background :#a8bccb; text-align :left; font-size :0.8em; }
body { background-color :#a8bccb; background-repeat :repeat-x; }
table {border-collapse: separate;}
td,th,input,textarea { color :#000000; font-size :1.0em; font-family :Verdana, Arial, Helvetica, sans-serif; }
textarea { font-size :1em; }
img { border :0px; }
form { margin :0; }
hr { margin :1em auto; color :#003366; height :1px; }
h1 { color :#000000; font-size :1.8em; text-align :center; text-transform :uppercase; }
h2 { margin :0.5em 0px 0.5em 0px; color :#336699; font-size :1.5em; }
h2 { font-family :arial,sans-serif; letter-spacing :-1px; margin :0.5em 0; text-align :left; }
h4 { margin :0; border-bottom :1px solid #dddddd; padding-bottom :5px; }
a h3 { margin :0; font-size :1.1em; padding-bottom :2px; }
li p { margin :0.5em 0; }
/**/
a:link, a:visited, a:active { color :#003366; text-decoration :none; }
a:hover { color :#336699; text-decoration :none; }
ul, li { margin :0; padding :0; list-style :none; }
.current a, .current a:link, .current a:active, .current a:visited { background :url(images/menuo.png) #ffffff; background-repeat :repeat-x; color :#ffffff; }

label { cursor :pointer; }
input:focus, input:active, select:focus, textarea:focus { background :#f1f8fd; }
iframe { border :1px solid #35373a; }
div.box { width :100%; margin :-10px 0 0 0; font-size :small; text-align :right; }
.header { width :900px; margin :0 auto; }
.container { width :85%; margin :0 auto; background :url(images/bgtitle.png) #ffffff; background-repeat :repeat-x; }
.content { padding :1.6em; margin :0 auto; min-height :300px; vertical-align :top; width :900px; }
#content_container { text-align :center; width :900px; clear :both; margin :0 auto; }
#admintools ul { padding :0; margin :0 auto; width :100%; }
#admintools li { list-style-type :none; display :inline; float :left; width :47%; margin :0 10px 0 0; }
.description { padding :4px 4px 0 4px; text-align :left; vertical-align :top; }
.graphic { border :4px solid #fdfdfd; height :50px; padding-left :3px; width :50px; }
.graphic img { background-color :#ffffff; border :1px solid #d0d0d0; padding :4px; vertical-align :middle; }
.menu { margin :0; padding :0; padding-top :8px; padding-bottom :10px; padding-left :8px; background :url(images/menu.png) #000000; background-repeat :repeat-x; }
.menu li { padding-right :1px; list-style-type :none; display :inline; }
.menu a, .menu a:link, .menu a:active, .menu a:visited { border-bottom :0; padding :7px 11px 9px 11px; color :#ffffff; }
.menu a:hover { color :#ffffff; background :url(images/menuo.png) #ffffff; background-repeat :repeat-x; text-decoration :none; }
.note { color :#666666; font-size :10px; }
div .pages_list { width :100%; font-size :0.7em; }
.pages_list .icon_col td img { border-style :none; float :left; padding-right :7px; display :block; }
.pages_list table { width :100%; margin :0 auto; background-color :#dcdcdc; }
.pages_list ul { margin :0; padding :0px; font-weight :normal; }
.pages_list ul li { margin :2px 0; padding :0px; list-style-type :none; }
.page_list_show li { display :block; }
img.page_list_rights { border :none; margin-right :5px; float :left; margin-top :2px; margin-bottom :2px; }
.content input { font-size :12px; }
.section { margin-top :10px; padding :0px; border :1px solid #999999; font-size :1em; width :100%; background-color :#fdfdfd; height :75px; }
.sections_header { width :100%; margin-bottom :10px; border :none; background-color :#f0f0f0; height :50px; }
.sections_header td { padding :5px; }
.setting_name { width :20%; min-width :200px;  }
.setting_value { width :80%; }
.setting_value_permissions { width :50%; min-width :400px; }
.setting_value textarea { height :50px; }
.title {
   text-align :left;
   padding :4px 5px 0px 3px;
   font-weight :bold;
   font-size :14px;
   margin-bottom :5px;
}
span.title { display :block; }
.tool_table ul { margin :0; padding :0; margin-left :20px; margin-bottom :2px; }
.tool_table li { padding :1px; list-style-type :disc; }
/* CSS STYLES FOR THE PAGES SECTION */
table.pages_view { width :100%; margin :0 auto; border :0; background-color :#ecf3f7; border-spacing :0px; }
table.pages_view tr:hover { background-color :#f1f8dd; }
/* FORMS */
.submit, .cancel { width :100px; margin-top :5px; }
.form_submit .right { text-align :right; }
.input_small { width :20px; }
.input_normal { width :120px; }
.input_medium { width :150px; }
.input_wide { width :200px; }
.input_large { width :300px; }
select option.disabled { color :#aaaaaa; }
.jsadmin_drag img { padding :3px 0; margin-top :1px; vertical-align :top; cursor :pointer; }
.modify_link { padding-top :4px; display :inline; vertical-align :middle; }
.header_list_page_id { width :30px; padding-right :15px; text-align :right; }
.header_list_actions { width :150px; text-align :left; }
.list_actions { width :20px; text-align :left; }
.sections_list { padding-left :10px; font-weight :bold; }
.header_list_block { width :180px; text-align :left; }
.header_list_sections_actions { width :30px; text-align :left; }
.value_page_code { width :240px; color :#006400; font-weight :400; }
/* Ende */
.pages_list table td, table.pages_view td { padding :3px; }
.save, .reset, .input_narrow { width :100px; }
.settings_table td, .tool_table td { text-align :left; vertical-align :top; }
#file_mode input, #dir_mode input { width :12px; height :12px; }
#hide2, .hide, .page_list { display :none; }
.header_list_page_title, .list_page_title { width :300px; text-align :left; }
.list_section_id, .list_page_id, .header_list_section_id { width :2em; text-align :right; }
.list_page_code, .list_page_language { width :240px; }
.form_submit .left, .header_list_menu_title, .list_menu_title, .header_list_type { text-align :left; }
.header_title, .sections_list table, .setting_value input, .setting_value select, .setting_value textarea, .value_input input, .value_input text, .value_input select, .form_submit, .input_full { width :100%; }
.header_list_pubdate_start, .header_list_pubdate_end, .list_pubdate_start, .list_pubdate_end { width :200px; text-align :left; }
.right{ text-align :right; }
.left{ text-align :left; }
/* set div layers in dead tables */
.subcolumns { width :100%; overflow :hidden; margin :10px 0; }
.subcolumns_oldgecko { width :100%; float :left; margin :10px 0; }
.c10l, .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float :left; }
.c10r, .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float :right; margin-left :-5px; }
  .c10l, .c10r { width :10%; }
  .c20l, .c20r { width :20%; line-height :2em; }
  .c40l, .c40r { width :40%; }
  .c60l, .c60r { width :60%; height :21px; }
  .c25l, .c25r { width :28%; }
  .c33l, .c33r { width :33.333%; }
  .c50l, .c50r { width :50%; }
  .c66l, .c66r { width :66.666%; }
  .c38l, .c38r { width :38.2%; }
  .c62l, .c62r { width :61.8%; }
  .subc { padding :0 0.5em; }
  .subcl { padding :0 1em 0 0; }
  .subcr { padding :0 0 0 1em; }
.c80l, .c80r, .c90l, .c90r { width :80%; }
.c75l, .c75r, .c80l, .c80r { width :75%; }
.info { padding :10px; margin-bottom :0.5em; background :#f8f8f8; color :#666666; font-size :91.7%; }
.note { border :2px #448844 solid; padding :10px; margin :10px auto; background :#eeffee; color :#004400; }
.important { border :2px #888844 solid; padding :10px; margin-bottom :1em; background :#ffffee; color :#444400; }
.warning { border :2px #884444 solid; padding :10px; margin-bottom :1em; background :#ffeeee; color :#440000; }
.row_0 { background-color :transparent; }
.row_1 { background-color :#ccddee; }
div.content_box { margin :0em auto; }
div.content_box form { width :98%; }
#language,
#timezone,
#date_format,
#time_format { min-width :250px; }
#display_name,
#username,
#email,
#new_password_1,
#new_password_2,
#current_password { min-width :250px; }
#submit,
#reset { max-width :100px; }
 div#username { height :17px; width :118%; background-color :#e9e9e9; min-width :250px; border :0px groove #6799c4; text-align :left; font-weight :bold; margin :0; }
.save_section { margin :20px auto 5px auto; }
#language,
#timezone,
#date_format,
#time_format,
#display_name,
#username,
#email,
#new_password_1,
#new_password_2,
#current_password { width :118%; }
.section-info { margin :1.5em 0; }
.rounded { border-radius :10px; -khtml-border-radius :10px; -webkit-border-radius :10px; -moz-border-radius :10px; }
.bigger { font-size :150%; }
.strong { font-weight :bold; }
.msg-box { background :#e5ffe6; border :0.2em #009900 solid; color :#336600; margin-bottom :1em; padding :0.63em; text-align :center; }
.error-box { background :#ffeeee; border :0.2em #884444 solid; color :#440000; margin-bottom :1em; padding :0.63em; text-align :center; }
.msg-box p,
.error-box p { font-size :120%; }
select > option.user-inactive { color :#990000; }
button.status { cursor :pointer; border-radius :5px; -khtml-border-radius :5px; -webkit-border-radius :5px; -moz-border-radius :5px; }

/* depending styles for /admin/pages_settings */
div.page-settings {
	font-size: 0.9em;
	border: none;
}
	div.page-settings div.caption {
		font-size: 1em;
		font-weight: bold;
		padding: 3px 0 0px 0;
		margin: 0; padding: 0; border: none;
		margin-bottom: 10px;
		border-bottom: groove 2px #a8bccb;
	}
	div.page-settings label {
		display: inline-block;
	}
	div.page-settings input,
	div.page-settings textarea,
	div.page-settings select {
		width: 210px;
	}
	div.page-settings select {
/*		font-size: 1em; */
	}
	div.page-settings textarea {
		height: 5em;
	}
	div.page-settings [type=checkbox] {
		width: 2.5em;
	}
div.page-settings-leftcol {
	float: left;
	padding: 10px 10px 10px 10px;
	border-right: groove 2px #a8bccb;
}
	div.page-settings-leftcol div {
		padding: 2px 0 3px 0;
		vertical-align: top;
	}
	div.page-settings-leftcol label {
		width: 170px;
		vertical-align: top;
	}
div.page-settings-righttoprow {
	margin-left:417px;
	padding: 5px 20px 5px 10px;
}
	div.page-settings-righttoprow label {
		width: 110px;
		vertical-align: top;
	}
div.page-settings-centercol {
	float: left;
	padding: 10px 20px 10px 20px;
	border-right: groove 2px #a8bccb;
}
div.page-settings-rightcol {
	float: left;
	padding: 10px 20px 10px 10px;
	border: none;
}
/* ************************************************************************** */
/* DIV-mbox to show selector or simply content only ************************* */
div.mbox {
   padding :10px;
   margin :15px auto;
   background-color :#fff;
   color :#330033;
   font-size :1em;
   display :block;
}
 	div.mbox div { } /* inner div to expand for additional decorations (see .mbox-icon div) */
		div.mbox div a { font-size :1em; color: #0052A1; }
		div.mbox div a:hover { color: #0099FF; }
		div.mbox div p.title { margin :0; padding :0.08em 0 0.6em 0; font-size: 110%; color: #0052A1; font-weight: bold;}
		div.mbox div p { margin :0; padding :0 0 0.6em 0;}
div.mbox:hover {  }
/* extension for mbox to show additional icons on left side ***************** */
div.mbox-icon { background-repeat :no-repeat; background-image :url(icons/info_50.png); background-position :15px 50%; padding :15px; min-height: 25px;}
	div.mbox-icon div { margin-left :70px; border-left : 0px outset; padding-left: 5px;}
div.mbox-icon16 { background-repeat :no-repeat; background-image :url(icons/info_16.png); background-position :5px 50%; padding :5px; min-height: 10px;}
	div.mbox-icon16 div { margin-left :30px; border-left : 4px outset; padding-left: 5px;}
/* coloring of the mbox and other boxes also ******************************** */
div.box-ok { border-color: green; color: green; }
div.box-error { border-color: red; color: red; }
div.box-info { border-color: #bb7a00; color: #003ff2;}
div.box-warning { border-color: orange; color: orange;}
/* Border attributes for mbox and other elements also *********************** */

/* label/input attributes for mbox for tableless design *********************** */
div.mbox label, 
div.mbox select, 
div.mbox span, 
div.mbox textarea, 
div.mbox input { display :block; float :left; margin-bottom :10px; margin-right :5px; }
div.mbox label { padding-right :10px; }
div.mbox label.radio { text-align : left; padding-right :20px; width :100px; }
div.mbox br { clear : both; }
/**/
/* END of mbox - definition ************************************************* */
/* ************************************************************************** */
div.content_box form { width : 100%; }
.content_box {
   position :relative;
   margin :0px auto;
   padding :0;
}
   .content_box form{ background :transparent; height :auto; }
   .content_box li {
   float :left;
   margin :auto 0.8em;
   list-style-type :none;
   display :block;
}
   .content_box ul { padding :0 0 0 15px; margin :0 auto; width :100%; }
   .content_box h5.title { color :#339bff; font-weight :bold; font-size :1.2em; margin :0 auto; text-align :left; }
   .content_box h5.title a:link  { color :#0067ca; }
   .content_box h5.title a:hover  { color : #0099ff; }
   .content_box h5.noscript { font-size :1.2em; padding :5px 0px 5px 0px; }
   .content_box div.noscript { height :auto; width :100%; padding :5px; background :none no-repeat left; }
/*  */
   button { padding :2px; }
   button.link { padding :0px; background-color :transparent; display :inline; vertical-align :middle; border :0px none; cursor :pointer; }
   button span.title { font-size :1.3em; display :inline; font-weight :100; color :#007ac8; letter-spacing :1px; }
/*  */
.curved { border : 1px solid #666666; }
div.col_content { margin-right :0.5em; padding :2px 0 2px 10px; }
.shadow { box-shadow :3px 3px 10px rgba(0, 0, 0, 0.6); }
.row_0 { background-color :transparent; }
.row_1 { background-color : #cccccc; }
/**/
h1, h2, h3, h4, h5, h6 { color : #003366; display :block; font-weight :bold; margin :0.5em auto; padding-bottom :5px; }
h6 { font-size :100%; }
/**/
.cleft, div.col_left { float :left; }
.cright, div.col_right { float :right; }
.c25, div.col_width25 { width :25%; }
.c33, div.col_width33 { width :33.333%; }
.c50, div.col_width50 { width :48%; }
.c60, div.col_width60 { width :60%; }
.c75, div.col_width75 { width :75%; }
.c90, div.col_width90 { width :90%; }
.c100, div.col_width100 {
   width :100%;
   margin : 0 auto;
}
.c400, .col_width400 { width :400px; }
.h30 { height :25px; }
.h50 { height :49px; }
.h65 { min-height :70px; overflow :hidden; }
.h80 { height :80px; }
.h100 { height :100px; }
.h120 { height :120px; }
.h140 { height :140px; }
.h185 { height :185px; }
.min_h100 { min-height :100px; }
.border { border-right :5px solid #cccccc; }
/**/
.clear:after { clear :both; content :"."; display :block; font-size :0; height :0; visibility :hidden; }
.clear { clear :both; display :block; }
.ie-clearing { display :none; }
.floatbox { overflow :hidden; }
.spacer { line-height :1em; margin-right :0.5em; position :relative; }
table.layout { table-layout :fixed;  }
/*overwriting above */
td,th,textarea { color :#000000; font-size :96%; font-family :Verdana, Arial, Helvetica, sans-serif; }
textarea { font-size :86%; }
.container, .hmenu { 
   min-width :320px;
 }
.content {
  padding: 1em;
  width: 85%;
  min-width :320px;
}
div.dev-info {
   background :#DDDDDD;
   max-width: 85%;
   overflow :auto;
   height :auto;
   white-space :normal;
   margin : 0 auto 10px;
   position :relative;

}
div.dev-info div span {
   margin-bottom :1px;

}

.settings_table, .tool_table {
   text-align :left;
   vertical-align :top;
   width :95%;
}

input.save,
input.reset { 
width: auto;
 }
.content input {
  font-size: 100%;
}
.msg-box { text-align :left; }

.permission_box { 
   width :95%;
   border :2px solid #ddd;
 }
.permission_box caption { 
   text-align : center;
   line-height : 30px;
   font-weight :bold;
 }
.permission_box th { 
   text-align :left;
   background :#d2e8e8;
 }
.permission_box th { 
   text-align :left;
 }
.permission_box td label { 
   text-align :left;
   vertical-align : text-top;
   font-size :98%;
 }
textarea { font-size :100%; }

.setting_value label { 
   text-align :left;
   vertical-align : text-top;
   font-size :98%;
 }
/* header horizontal navigation */  
div.hmenu {
   background : #486991 url(images/menu.png);
   line-height : 3em;
   margin : 0px auto;
   font-size :96%;
   text-align :left;
   width :100%;
}
   div.hmenu ul {
   color :#ffffff;
   margin : 0px auto;
   display :block;
   padding :0;
   list-style-position :outside;
}
	   div.hmenu * a { color :#ffffff; text-decoration :none; }	
   div.hmenu ul li {
   color :#ffffff;
   display :inline;
   padding :10px 0px;
}
   div.hmenu ul li a {
   color :#ffffff;
   display :inline;
   height :2em;
   padding :10px 5px;
   font-weight :normal;
   background :transparent;
} 
   div.hmenu ul li a.active,
   div.hmenu ul li a.current {
   color :#ffffff;
   background : transparent url(images/menuo.png) repeat-x;
}
   div.hmenu ul li:hover,
   div.hmenu ul li a:hover {
   color :#ffffff;
   background : transparent url(images/menuo.png) repeat-x;
} 
.main { 
   width :auto;
   min-/width :320px;
   max-width :87em;
   border :0px solid #000000;
   margin : 0px auto;
   padding :0px;
 }

.header { 
   width :85%;
 }   
 .footer {
   width :85%;
   margin :15px auto;
}
.logo { 
   width :278px;
   padding-right :20px;
 }  
.version {
   margin :15px auto;
   float :right;
}   
 .topnav { 
    margin : 0 auto;
    text-align :center;
 }   
 div.msg-box.center { 
    margin : 0 auto;
    text-align :center;
 }   
.pages_list table td, table.pages_view td {
   padding :3px;
   font-size :150%;
}
