* html body * { overflow :visible; }
* html div { height :1em; /* Workaround gegen den 3-Pixel-Bug des Internet Explorers 6 */ }
html{ font-family :Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size :100.1%; font-weight :normal; color :#333333; overflow :auto; overflow-y :scroll; }
body{ margin :0 auto; padding :0px; background :#a8bccb; text-align :left; font-size :0.8em; }
/*  */
div.main { border :0px none #666666; margin :0px auto 1em auto; min-width :60em; max-width :90em; font-size :1.0em; padding :10px 15px; width :83%; overflow :hidden; }
.td { clear :both; font-size :1.0em; margin :0 auto; text-align :center; width :100%; }
div.main .table { background :url(../images/bgtitle.png) #ffffff repeat-x; margin :0 auto; overflow :auto; width :100%; }
.wrapper { position :relative; display :block; overflow :auto; width :inherit; }
.content { padding :10px; text-align :left; overflow :hidden; }
img { border :none; }
.input_small { width :20px; }
.input_narrow { width :100px; }
.input_normal { width :110px; }
.input_medium { width :150px; }
.input_wide { width :200px; }
.input_large { width :300px; }
.input_full { width :100%; }
/*  */
table {
   border-collapse :separate;
   width :100%;
   table-layout:fixed;
}
table.layout { table-layout :auto; }
table.header { margin :auto; width :100%; }
table.header td { min-width :10%; }
   table.header td.logo { padding-right :20px; width :278px; }
   table.header td.version { float :right; margin :15px auto; text-align :right; min-width :100px; white-space :nowrap; }
   table.header td.topnav { margin :0 auto; padding-top :1em; text-align :center; min-width :200px; white-space :nowrap; }
   table td a { text-decoration :none; display :inline; }
   table td a:hover { color :#3366ff; text-decoration :underline; }
/* header horizontal navigation */  
div.hmenu { background :url(../images/menu.png) #486991 repeat-x center; line-height :32px; margin :0px auto; font-size :1em; float :left; width :100%; }
   div.hmenu ul { color :#ffffff; margin :0px auto; display :block; padding :0 0 0 10px; list-style-position :outside; }
	   div.hmenu * a { color :#ffffff; text-decoration :none; }
   div.hmenu ul li { color :#ffffff; display :inline; padding :10px 0px; }
   div.hmenu ul li a { color :#ffffff; display :inline; height :2em; padding :7px 5px; font-weight :bold; background :transparent; }
   div.hmenu ul li a.active,
   div.hmenu ul li a.current { color :#ffffff; background :transparent url(../images/menuo.png) repeat-x center; }
   div.hmenu ul li:hover,
   div.hmenu ul li a:hover { color :#ffffff; background :transparent url(../images/menuo.png) repeat-x center; }
/* */
table.footer { margin :1em auto; width :100%; }
table.footer fieldset { background :#a8bccb; margin :0.5em auto; text-align :center; }
   table.footer a { text-decoration :none; }
   table.footer a:hover { color :#3366ff; text-decoration :underline; }
   table.footer tbody tr td { font-size :1em; text-align :center; }
/* clearing */
.clear:after { clear :both; content :"."; display :block; font-size :0; height :0; visibility :hidden; }
.clear { clear :both; display :block; }
.ie-clearing { display :none; }
.floatbox { overflow :hidden; }
.spacer { line-height :1em; margin-right :0.5em; position :relative; }
/* ************************************************************************** */
/* DIV-mbox to show selector or simply content only ************************* */
div.mbox { padding :5px 10px; margin :5px auto; background-color :#ffffff; color :#330033; font-size :1em; display :block; }
 	div.mbox div { }
		div.mbox div a { font-size :1em; color :#0052a1; }
		div.mbox div a:hover { color :#0099ff; }
		div.mbox div p.title { margin :0; padding :0.08em 0 0.6em 0; font-size :110%; color :#0052a1; font-weight :bold; }
		div.mbox div p { margin :0; padding :0 0 0.6em 0; }
div.mbox:hover { }
/* extension for mbox to show additional icons on left side ***************** */
div.mbox-icon { background-repeat :no-repeat; background-image :url(icons/info_50.png); background-position :15px 50%; padding :10px 5px; min-height :25px; }
	div.mbox-icon div { margin-left :70px; border-left :0px outset; padding-left :5px; }
div.mbox-icon16 { background-repeat :no-repeat; background-image :url(icons/info_16.png); background-position :5px 50%; padding :5px; min-height :10px; }
	div.mbox-icon16 div { margin-left :30px; border-left :4px outset; padding-left :5px; }
/* coloring of the mbox and other boxes also ******************************** */
div.box-ok { border-color :#008000; color :#008000; }
div.box-error { border-color :#ff0000; color :#ff0000; }
div.box-info { border-color :#bb7a00; color :#003ff2; }
div.box-warning { border-color :#ffa500; color :#ffa500; }
/* Border attributes for mbox and other elements also *********************** */
/* label/input attributes for mbox for tableless design *********************** */
div.mbox label, 
div.mbox select, 
div.mbox span, 
div.mbox textarea, 
div.mbox input { display :block; float :left; margin :3px auto; }
div.mbox label { padding-right :5px; }
div.mbox br { clear :both; }
div.mbox span { white-space :nowrap; }
div.mbox [type="radio"],
div.mbox [type="checkbox"] { width :1.5em; }
/**/
div.mbox label.radio { text-align :left; padding-right :20px; width :100px; }
/* END of mbox - definition ************************************************* */
/* ************************************************************************** */
div.mbox input [type="checkbox"] { width :2.5em; }
div.mbox.dev-info { background :#dddddd; font-size :0.9em; color :#9b0000; overflow :auto; height :auto; white-space :normal; margin :0 auto 3em; position :relative; }
div.mbox.dev-info div span { margin-bottom :1px; }
/* */
.msg-box { background :#e5ffe6; border :0.2em #009900 solid; color :#336600; margin-bottom :1em; padding :0.63em; text-align :left; }
.error-box { background :#ffeeee; border :0.2em #884444 solid; color :#440000; margin-bottom :1em; padding :0.63em; text-align :center; }
.msg-box p,
.error-box p { font-size :120%; }
/* */
.cleft { float :left; }
.cright { float :right; }
.center{ text-align :center; }
.hidden { visibility :hidden; }
.left{ text-align :left; }
.hide, .none { display :none; height :0; }
#hide1, #hide2, #hide3 { display :none; }
.right{ text-align :right; vertical-align :middle; }
.rBold{ text-align :right; font-weight :bold; vertical-align :middle; }
.rightTop{ text-align :right; vertical-align :top; }
.bold{ font-weight :bold; }
.grey { color :#999999; }
.row_0 { background-color :#ffffff; }
.row_1 { background-color :#eeeeee; }
.rounded { border-radius :10px; -khtml-border-radius :10px; -webkit-border-radius :10px; -moz-border-radius :10px; }
.shadow { box-shadow :3px 3px 10px rgba(0, 0, 0, 0.6); }
.shadow1 { margin :40px; background-color :#444444; /* Needed for IEs */ -moz-box-shadow :5px 5px 5px rgba(68,68,68,0.6); -webkit-box-shadow :5px 5px 5px rgba(68,68,68,0.6); box-shadow :5px 5px 5px rgba(68,68,68,0.6); zoom :1; }
.gradient1 { background-color :#ababab; background-image :-moz-linear-gradient(90deg, #ababab, #00001c 33px); background-image :-webkit-linear-gradient(90deg, #ababab, #00001c 33px); background-image :-o-linear-gradient(90deg, #ababab, #00001c 33px); background-image :-ms-linear-gradient(90deg, #ababab, #00001c 33px); background-image :linear-gradient(90deg, #ababab, #00001c 33px); }
/* set div layers in dead tables */
.info { padding :10px; margin-bottom :0.5em; background :#f8f8f8; color :#666666; font-size :91.7%; }
.note { border :2px #448844 solid; padding :10px; margin :10px auto; background :#eeffee; color :#004400; }
.important { border :2px #888844 solid; padding :10px; margin-bottom :1em; background :#ffffee; color :#444400; }
.warning { border :2px #884444 solid; padding :10px; margin-bottom :1em; background :#ffeeee; color :#440000; }
.graphic { border :4px solid #fdfdfd; height :50px; padding-left :3px; width :50px; }
.graphic img { background-color :#ffffff; border :1px solid #d0d0d0; padding :4px; vertical-align :middle; width :50px; height :50px; }

.section {
   background-color :#fdfdfd;
   border :1px solid #999999;
   font-size :0.9em;
   height :85px;
   margin :5px;
   padding :0;
   width :98%;
}
.description { padding :4px 0 0; text-align :left; }
.title { text-align :left; padding :4px 5px 0px 3px; font-weight :bold; font-size :1.2em; margin-bottom :5px; }
   span.title { display :block; }
.tool_table td { text-align :left; vertical-align :top; }
.tool_table ul { margin :0; padding :0; margin-left :20px; margin-bottom :2px; }
.tool_table li { padding :1px; list-style-type :disc; }
/* new tablelayout without table attribute  */
div.settings_table { margin :0 auto; width :90%; }
form.settings_table { border :1px none #eeee; font-family :verdana,arial,helvetica,sans-serif; margin :5px auto; padding :5px; }
   form.settings_table fieldset { border :1px none #eeeeee; display :block; line-height :1.0em; margin :1px auto; padding :3px 0px 3px 0px; }
   input[type="file"] { width :100%; border :1px solid #000000; background-color :#ccccff; }
   legend.settings_table ,
   form.settings_table legend { border :none; color :#006699; font-size :140%; margin :5px; padding :0; }
   form.settings_table div.sub-row { background-color :transparent !important; background-color :#eeeeee; }
   form.settings_table label { text-align :right; margin :1px auto; }
   form.settings_table label.setting_name { clear :left; color :#333333; vertical-align :top; display :block; margin :3px auto; min-height :1.6em; float :left; padding-right :5px; width :30%; }
   form.settings_table fieldset div.input { padding :0; margin :0 auto; vertical-align :top; overflow :hidden; display :inline; line-height :2em; min-height :1em; list-style-type :none; width :60%; }
   form.settings_table fieldset div.input input.radio { margin :0.8em auto; border :none; padding-left :6px; }
   form.settings_table fieldset div.input label { margin :6px auto; padding-left :6px; min-height :1em; width :35%; float :none; display :inline; vertical-align :top; }
   form.settings_table input[type="text"],
   form.settings_table input[type="password"] { border :1px solid #666666; margin :0px auto; padding-left :5px; width :59%; }
   form.settings_table input.radio { border :1px none #666666; margin :0px auto; padding-left :0.5em; height :1em; }
   form.settings_table input[type="button"].button { border :1px solid #666666; color :#000000; text-align :left; font-weight :bold; background-color :#dddddd; margin :2px auto; padding :2px 0px 2px 6px; width :60%; }
   form.settings_table textarea { border :1px solid #666666; margin :3px auto; padding-left :0.5em; min-height :1em; width :59%; }
   form.settings_table select { border :1px solid #666666; margin :3px auto; padding-left :0.5em; min-height :1em; width :60%; }
/* */
div.content_box form { }
div.sub-row { background-color :#eeeeee; margin :1px auto; overflow :hidden; padding :0; }
div.col_content { margin-right :0.5em; padding :2px 0; }
.content_box { position :relative; margin :0px auto; padding :0; }
   .content_box form { background :transparent; height :auto; }
   .content_box li { float :left; padding :0 10px; list-style-type :none; display :block; }
   .content_box ul { padding :0 0 0 15px; margin :0 auto; width :100%; }
   .content_box h5.title { color :#339bff; font-weight :bold; font-size :1.2em; margin :0 auto; text-align :left; }
   .content_box h5.title a:link { color :#0067ca; }
   .content_box h5.title a:hover { color :#0099ff; }
   .content_box h5.noscript { font-size :1.2em; padding :5px 0px 5px 0px; }
   .content_box div.noscript { height :auto; width :100%; padding :5px; background :none no-repeat left; }
/*  */
   button { padding :2px; }
   button.link { padding :0px; background-color :transparent; display :inline; vertical-align :middle; border :0px none; cursor :pointer; }
   button span.title { font-size :1.3em; display :inline; font-weight :100; color :#007ac8; letter-spacing :1px; }
.curved { border :1px solid #666666; }
/*  */
textarea { /* none|horizontal|vertical|both */ resize :both; }
textarea.vert { resize :vertical; }
textarea.noResize { resize :none; }
h1, h2, h3, h4, h5, h6 { color :#006699; display :block; font-weight :normal; margin :0.5em auto; padding-bottom :5px; }
h6 { font-size :100%; }
#file_mode, 
#dir_mode { width :290px; height :auto; margin-right :0.5em; font-size :1em; }
#file_mode table, 
#dir_mode table { width :290px; height :auto; margin-right :0.5em; font-size :1em; }
#file_mode input, 
#dir_mode input { width :12px; height :12px; }
table.permission_box { width :280; border :2px solid #dddddd; }
table.permission_box caption { text-align :center; line-height :30px; font-weight :bold; }
table.permission_box thead { text-align :left; background :#d2e8e8; }
table.permission_box tbody { text-align :left; }
table.permission_box td label { text-align :left; vertical-align :text-top; font-size :0.8em; }
/* */
div.pages_list { font-size :0.6em; width :100%; }
table.pages_list table td, 
table.pages_view td { font-size :1.2em; padding :0 2px; vertical-align :middle; margin :0 auto; height :30px; }
table.pages_view { background-color :#cee1ea; border :0; border-spacing :0px; font-size :1.5em; line-height :2em; margin :0 auto; table-layout :fixed; width :100%; }
table.pages_view a:link { display :inline; padding :2px; font-weight :bold; text-decoration :none; vertical-align :baseline; }
table.pages_view a:link span { vertical-align :baseline; }
table.pages_view a:hover { background :transparent; text-decoration :none; }
table.pages_view tr:hover { background-color :#f1f8dd; }
table a:link { display :inline; font-weight :bold; padding-top :0; text-decoration :none; vertical-align :baseline; }
table a:hover { color :#6699ff; }
a:link { display :inline; font-weight :bold; padding-top :0; text-decoration :none; vertical-align :baseline; }
a:visited { color :#0066cc; }
a:hover { color :#6699ff; text-decoration :underline; }
/* */
.header_list_actions { text-align :left; width :150px; }
.header_list_block { text-align :left; width :120px; }
.header_list_page_id { padding-right :15px; text-align :right; width :30px; }
.header_list_page_title, 
.list_page_title { width :350px; }
/**/
.list_page_title, .list_menu_title, 
.header_list_menu_title, .header_list_type { text-align :left; vertical-align :middle; }

.header_list_pubdate_start, 
.header_list_pubdate_end, 
.list_pubdate_start, 
.list_pubdate_end {
   text-align :left;
   white-space :nowrap;
   width :185px;
}
.header_list_sections_actions {
   text-align :left;
   width :30px;
}
.header_list_type {
   font-size :1em;
   padding :4px 0;
   text-align :left;
   width :30%;
}
.jsadmin_drag img { cursor :pointer; margin-top :0px; padding :0px 0; vertical-align :baseline; }
.list_actions { height :20px; padding :0 1px; text-align :left; width :20px; }
.list_page_code, 
.list_page_language { width :240px; }
.list_pubdate_start input[type="text"], 
.list_pubdate_end input[type="text"] { width :120px; }
.list_section_id, 
.list_page_id, 
.header_list_section_id { padding :0 3px; text-align :right; vertical-align :baseline; width :2em; }
.modify_link { display :inline; padding :0 2px; vertical-align :baseline; }
.page_list { display :none; }
img.page_list_rights { border :none; float :left; margin :0 auto; padding :0 2px; }
.page_list_show li { display :block; }
.pages_list 
.icon_col td img { border-style :none; display :inline; float :left; padding-right :7px; }
.pages_list {  } 
.icon_col td img { border-style :none; display :inline; float :left; padding-right :7px; }
.pages_list table { background-color :#dcdcdc; font-size :1.3em; margin :0 auto; table-layout :fixed; width :100%; }
.pages_list ul { font-weight :normal; margin :0; padding :0px; }
.pages_list ul li { list-style-type :none; margin :1px 0; padding :0; vertical-align :baseline; }

.sectionrow { font-size :1.1em; height :30px; table-layout :fixed; }
.sectionrow a:link { color :#003366; font-weight :bold; text-decoration :none; }
.sectionrow a:hover { color :#6699ff; }
.sections_list { padding :2px 0px 2px 5px; font-size :1.0em; width :100%; }
.sections_list { background :#dddddd; font-size :1em; font-weight :bold; padding-left :10px; }
.sections_list,
.pages_list_header { font-weight :bold; line-height :1.5em; margin-bottom :5px; text-align :left; }
.pages_list_header { padding :2px 0px 2px 5px; font-size :1.3em; height :25px; }
.header_list_menu_title { padding-left :30px; }
.value_page_code { color :#006400; font-weight :400; width :240px; }
.section-info { margin :1em auto; }
/* depending styles for /admin/pages_settings */
div.page-settings { font-size :0.9em; border :none; text-align :left; }
	div.page-settings div.caption { font-size :1em; font-weight :bold; padding :3px 0 0px 0; margin :0; padding :0; border :none; margin-bottom :10px; border-bottom :groove 2px #a8bccb; }
	div.page-settings label { display :inline-block; }
	div.page-settings input,
	div.page-settings textarea,
	div.page-settings select { width :200px; }
	div.page-settings select { }
	div.page-settings textarea { height :5em; }
	div.page-settings [type=checkbox] { width :2.5em; }
div.page-settings-leftcol { float :left; padding :10px 10px 10px 10px; border-right :groove 2px #a8bccb; }
	div.page-settings-leftcol div { padding :2px 0 3px 0; vertical-align :top; }
	div.page-settings-leftcol label { width :170px; vertical-align :top; }
div.page-settings-righttoprow { margin-left :417px; padding :10px; }
	div.page-settings-righttoprow label { width :110px; vertical-align :top; }
div.page-settings-centercol { float :left; padding :10px 20px 10px 20px; border-right :groove 2px #a8bccb; }
div.page-settings-rightcol { float :left; padding :10px 20px 10px 10px; border :none; }
h1, h2, h3, h4, h5, h6 { color :#003366; display :block; font-weight :normal; margin :0.5em auto; padding-bottom :5px; }
h6 { font-size :100%; }
/* end depending styles for /admin/pages_settings */
div.page-settings-leftcol label { background-repeat :no-repeat; background-position :right; text-align :right; padding-right :17px; font-weight :bold; width :156px; }
div.page-settings-leftcol label a:link { text-decoration :none; color :#003366; }
div.page-settings-leftcol label a:hover { color :#006699; text-decoration :underline; }
div.page-settings-leftcol textarea { resize :vertical; }
#overDiv { max-width :450px; background-position :center; background-attachment :fixed; text-align :left; line-height :1em; padding :1px; font-size :120%; }
div.page-settings span.overlib { width :20px; margin-left :-20px; }
/* */
div.page_group { height :180px; max-height :260px; margin :0; padding :0; overflow :auto; }
div.page_group div { overflow :hidden; }
div.page-settings p.page_user,
div.page-settings p.page_group { }
/* */
.header_title, .setting_value input, .setting_value select, .setting_value textarea, .value_input input, .value_input text, .value_input select, .form_submit, .input_full { width :80%; }
div.mbox span { white-space :nowrap; }
div.mbox span label { padding-right :5px; }
div.mbox span [type="checkbox"] { width :2.5em; }
div.col_content { margin :auto 5px; padding :2px 0; }
div.col_content ul li { font-size :86%; margin :auto 2px; }
.curved { border :1px solid #666666; }
.c33, 
div.col_width33 { width :33.333%; }
.c50, div.col_width50 { width :46%; }
.c60, div.col_width60 { width :60%; }
.h65 { min-height :65px; overflow :auto; }
.h80 { height :80px; line-height :1.3em; }
.min_h100 { min-height :100px; }
.c100, div.col_width100 { width :100%; margin :0 auto; }
.c400, .col_width400 { width :400px; }
/* */
div.admintools { display :block; border :0px none #333333; margin :auto 2%; min-height :1%; padding :2px; text-align :center; overflow :auto; }
div.admintools .section { width :100%; }
   div.admintools ul { padding :0; min-height :100px; overflow :hidden; }
   div.admintools ul li { float :left; border :0px none #666666 solid; max-height :7em; list-style-type :none; padding :1px; margin :2px 1% auto 1%; width :46%; }
   div.admintools li span { display :block; float :none; line-height :1em; font-size :1.2em; }
   div.admintools span.title { font-size :1.1em; }
/* */
.access h2,.access h3,.access h4,.access h6 { font-weight :bold; }
.account { width :100%; margin :0 auto; }
div.account form.settings_table { width :100%; }
div.account form.settings_table table td { width :40%; }
div.account form.settings_table table td.value_input { width :80%; }
/* expression msg box */
div.acess-main div.bottomdiv { background-color :#eff2f6; background-repeat :repeat-x; border-bottom :0px solid #0099ff; border-left :0px solid #0099ff; border-right :0px solid #0099ff; color :#003366; font-weight :bold; padding :10px; text-align :center; }
div.acess-main div.topdiv { background-color :#eff2f6; background-image :url("../images/menu.png"); background-position :left top; background-repeat :repeat-x; font-size :110%; font-weight :bold; height :34px; padding :5px 10px; color :#dddddd; }
div.acess-main .clear { clear :both; }
div.acess-main .invalid_message { clear :both; color :#990000; font-size :1em; height :auto; padding-top :5px; text-align :center; width :100%; }
div.acess-main { border :0 none #666666; font-size :1em; margin :0 auto 1em; max-width :60em; min-width :50em; overflow :hidden; padding :15px; width :58.6%; }
div.acess-main .table { background :url("../images/bgtitle.png") repeat-x scroll 0 0 #ffffff; margin :0 auto; overflow :hidden; padding :0px 0px; width :74%; }
div.acess-main table a:link { display :inline; font-weight :bold; padding-top :0; text-decoration :none; vertical-align :baseline; }
div.acess-main a:link { display :inline; font-weight :bold; padding-top :0; text-decoration :none; vertical-align :baseline; }
div.acess-main a:visited { color :#0066cc; }
div.acess-main a:hover { color :#6699ff; text-decoration :underline; }
div.acess-main div.content { overflow :hidden; padding :1px; text-align :left; }
div.acess-main div.bottomdiv h3 { font-weight :bold; color :#ff0000; }
