@charset "UTF-8";

.form-wrapper { position :relative; overflow :hidden; padding :5px; }
form.secure_switch { border :0px #484 solid; margin :10px 0; width :100%; overflow :hidden; }
form.secure_switch .left_submit,
form.secure_switch .left-content { width :35%; float :left; }
form.secure_switch .right_submit,
form.secure_switch .right-content { width :58%; float :right; }
   form.secure_switch fieldset { border : 0px solid #666666; }
      form.secure_switch fieldset legend { font-weight :normal; font-size :150%; border :none; }
      form.secure_switch fieldset legend b { font-weight :normal; font-size :110%; border :none; }
   form.secure_switch fieldset label { font-weight :bold; font-size :1.0em; color :#333333; }
   form.secure_switch fieldset span label { padding-left : 6px; }
.left-content, .right-content { margin-bottom :-32767px; padding-bottom :32767px; }
   form.secure_switch fieldset label { background-position :3px center; background-repeat :no-repeat; padding :4px 0 0 20px; }
form.secure_switch div.mbox  { border :0px #484 solid; padding :1px 0; position :relative; margin :0 auto; display :block; overflow :auto; }
form.secure_switch div.mbox div { border :0px #484 solid; display :block; padding :1px 0; overflow :auto; }
i { font-weight :normal; }
.grey { color :#666666; }
.norm { color : #003366; }
/*
.warning { border-radius :10px; -khtml-border-radius :10px; -webkit-border-radius :10px; -moz-border-radius :10px; background :#fee; border :0.2em #844 solid; color :#990000; margin :0.2em auto; padding :0.63em; width :60%; text-align :center; }
.warning strong { font-size :1.2em; }
.warning span { font-size :1.2em; line-height :1.5em; color :#333333; }
*/
