/* Fix for funky spacing on page listing */
.pages_list li {
	margin-bottom: -2px;
}
table.jsadmin_drag_area {
    table-layout: auto;
}
table.jsadmin_drag_area tr {
    line-height: 2em;
}

body.jsadmin_busy .content {
	background: url(images/busy.gif) 14px 8px no-repeat;
}

body.jsadmin_success .content {
	background: url(images/success.gif) 14px 8px no-repeat;
}

body.jsadmin_failure .content {
	background: url(images/failure.gif) 14px 8px no-repeat;
}

.jsadmin_drag {
	cursor: move;
}

.jsadmin_drag a, .jsadmin_drag input, .jsadmin_drag select {
	cursor: pointer;
}

ul.jsadmin_drag_area {
	border: solid 1px #99f;
}