body,td,th,input,textarea { font-family :Verdana, Arial, Helvetica, sans-serif; font-size :12px; color :#000000; }
body { background-color :#a8bccb; background-image :url(../templates/wb_theme/images/background.png); background-repeat :repeat-x; margin :0px; }
form { margin :0; }
input:focus, select:focus { background :#f1f8fd; }
.wrong { background-color :#ffdbdb; }
.submit { border :solid 2px #cccccc; background :#ffeeee; color :#ee0000; font-weight :bold; font-size :11px; padding :4px; width :100%; }
.content { background-color :#ffffff; padding :15px; height :350px; width :850px; text-align :justify; vertical-align :top; }
hr { margin :1em auto; color :#003366; height :1px; }
h1 { font-size :130%; color :#336699; margin :0px 0px 5px 0px; border-bottom :1px solid #cccccc; }
a:link, a:visited, a:active { color :#003366; text-decoration :none; }
a:hover { text-decoration :none; color :#336699; }
.bad { color :#ff0000; font-weight :bold; }
.good { color :#009900; font-weight :bold; }
.note { color :#666666; font-size :10px; }
.hide { display :none; }
.warning { border :2px #884444 solid; padding :5px; margin :5px auto; background :#ffeeee; color :#ee0000; text-align :center; font-size :12px; font-weight :normal; line-height :16px; -webkit-border-radius :0.75em; -moz-border-radius :0.75em; border-radius :0.75em; }
