* html body * { overflow :auto; }
html { font-family :"trebuchet MS", verdana, arial, sans-serif; font-size :100.1%; overflow-y :scroll;  :; }
body,td,th,input,textarea { font-family :verdana,arial,helvetica,sans-serif; font-size :12px; color : #666666; }
body { background :url(../images/background.jpg) #f9f9f9 0 0 repeat-x; margin :0; text-align :center; }
img { border :0px; }
#admin_header { text-align :center; width :900px; height :105px; margin :0 auto; padding :10px 0 0 0; }
#admin_header a#website_title { display :block; text-align :left; font-size :14px; font-weight :bold; color :#ffffff; text-transform :uppercase; text-decoration :none; }
#topmenu { float :right; text-align :right; color :#ffffff; width :220px; }
#topmenu a { font-size :11px; color :#ffffff; text-decoration :underline; margin :0 5px; }
#topmenu .version { font-size :11px; color :#7cacda; padding :0 10px 0 0; }
#header_top { height :78px; }
table { table-layout :auto; border-collapse :separate; border-spacing :0px; }
h1 { text-align :left; font-size :15px; color :#ffffff; text-transform :uppercase; }
h2 { text-align :left; font-size :18px; color :#000000; margin :5px 0; font-family :arial,sans-serif; letter-spacing :-1px; font-weight :normal; }
h3 { text-align :left; font-size :14px; color :#000000; margin :5px 0; }
a:link, a:visited, a:active { color :#28609b; text-decoration :none; }
a:hover { text-decoration :underline; color :#28609b; }
.menu { margin :0 auto; padding :0; text-align :center; width :100%; }
.menu ul { list-style-type :none; margin :0; padding :0; }
.menu li { display :inline; margin :0 2px 0 0; padding :0; font-weight :bold; border-bottom :3px solid #c9c9c9; }
.menu a { float :left; color :#ffffff !important; background :url(../images/tabl.jpg) #28609b no-repeat left top; margin :0 3px 0 0; padding :0 0 0 3px; text-decoration :none; border-bottom :3px solid #cacaca; }
.menu a span { display :block; background :url(../images/tabr.jpg) #28609b no-repeat right top; padding :6px 9px 6px 6px; }
.menu a:hover, .menu a:hover span { background-color :#28609b; text-decoration :none; }
.menu .current a, .menu a:hover { border-bottom :3px solid #d25e59; }
#content_container { text-align :center; width :900px; clear :both; margin :0 auto; }
.content { margin :0; padding :20px 0; width :900px; text-align :left; vertical-align :top; }
hr { margin :15px 0; color :#003366; height :1px; }
.center { text-align :center; }
.none { display :none; height :0; }
form { margin :0; }
label { cursor :pointer; }
input:focus, select:focus, textarea:focus { background :#f1f8fd; }
/* WB2.8 STYLES */
.img_noborder img { border :0; }
iframe { border :1px solid #35373a; }
div.box { font-size :11px; width :100%; text-align :right; margin :-10px 0 0 0; }
.section { margin-top :10px; padding :0; border :1px solid #999999; height :75px; width :100%; background-color :#fdfdfd; }
.note { color :#666666; font-size :11px; }
.bold { font-weight :bold; }
.rBold { font-weight :bold; text-align :right; }
.submit, .cancel { min-width :100px; margin-top :5px; padding :2px; }
.form_submit { width :100%; }
.form_submit .left { text-align :left; }
.form_submit .right { text-align :right; }
.input_small { width :20px; }
.input_narrow { width :100px; }
.input_normal { width :110px; }
.input_medium { width :150px; }
.input_wide { width :200px; }
.input_large { width :300px; }
.input_full { width :100%; }
select option.disabled { color :#aaaaaa; }
.jsadmin_drag img { margin-top :2px; vertical-align :top; cursor :pointer; }
.jsadmin_drag img:hover { }
.settings_table td { vertical-align :top; text-align :left; padding :5px; }
.setting_name { width :10%; min-width :180px; }
.setting_value { width :90%; }
.setting_value_permissions { width :50%; min-width :400px; }
.setting_value input, .setting_value select, .setting_value textarea { width :100%; }
.setting_value textarea { height :50px; }
.admintools ul { padding :0; margin :0; }
.admintools li { list-style-type :none; display :inline; float :left; width :48%; margin :0 10px 0 0; }
.value_input input, .value_input text, .value_input select { width :100%; }
#file_mode input, #dir_mode input { width :12px; height :12px; }
#hide2 { display :none; }
.pages_list { font-weight :bold; margin :10px auto; }
.pages_list .icon_col td img { display :block; border-style :none; float :left; padding-right :7px; }
.pages_list table { width :900px; }
table.pages_view { width :900px; }
table.pages_view tr, tr.sectionrow { background :#f0f0f0; line-height :2.2em; }
table.pages_view tr:hover, tr.sectionrow:hover { background :#eaeff6; }
tr.sectionrow { padding :0 10px; }
tr.sectionrow td { border-top :3px solid #f9f9f9; }
img.page_list_rights { border :none; float :left; margin :0; vertical-align :middle; padding :2px; }
.sections_list table { width :900px; }
.header_list_section_id { width :30px; text-align :right; }
.list_section_id, 
.list_pubdate_start { text-align :left; width :200px; }
.list_pubdate_end { text-align :left; width :200px; }
.header_list_menu_title { text-align :left; padding-left :30px; }
.header_list_page_title { width :334px; text-align :left; }
.list_page_title { width :300px; text-align :left; }
.list_page_code { width :240px; }
.list_page_language { width :240px; }
#multi_lingual { font-weight :bold; }
/* clearing */
.clear:after { clear :both; content :"."; display :block; font-size :0; height :0; visibility :hidden; }
.clear { clear :both; display :block; }
.ie-clearing { display :none; }
.floatbox { overflow :hidden; }
.spacer { line-height :1em; margin-right :0.5em; position :relative; }
/* ************************************************************************** */
/* DIV-mbox to show selector or simply content only ************************* */
div.mbox { padding :10px; margin :15px auto; background-color :#ffffff; color :#330033; font-size :1em; display :block; }
 	div.mbox div { }
		div.mbox div a { font-size :1em; color :#0052a1; }
		div.mbox div a:hover { color :#0099ff; }
		div.mbox div p.title { margin :0; padding :0.08em 0 0.6em 0; font-size :110%; color :#0052a1; font-weight :bold; }
		div.mbox div p { margin :0; padding :0 0 0.6em 0; }
div.mbox:hover { }
/* extension for mbox to show additional icons on left side ***************** */
div.mbox-icon { background-repeat :no-repeat; background-image :url(../icons/info_50.png); background-position :15px 50%; padding :15px; min-height :25px; }
	div.mbox-icon div { margin-left :70px; border-left :0px outset; padding-left :5px; }
div.mbox-icon16 { background-repeat :no-repeat; background-image :url(../icons/info_16.png); background-position :5px 50%; padding :5px; min-height :10px; }
	div.mbox-icon16 div { margin-left :30px; border-left :4px outset; padding-left :5px; }
/* coloring of the mbox and other boxes also ******************************** */
div.box-ok { border-color :#008000; color :#008000; }
div.box-error { border-color :#ff0000; color :#ff0000; }
div.box-info { border-color :#bb7a00; color :#003ff2; }
div.box-warning { border-color :#ffa500; color :#ffa500; }
/* Border attributes for mbox and other elements also *********************** */
/* label/input attributes for mbox for tableless design *********************** */
div.mbox label, 
div.mbox select, 
div.mbox span, 
div.mbox textarea, 
div.mbox input { display :block; float :left; margin :3px auto; }
div.mbox label { padding-right : 5px; }
div.mbox br { clear :both; }
div.mbox span { white-space :nowrap; }
div.mbox [type="radio"],
div.mbox [type="checkbox"] { width : 1.5em; }
/**/
div.mbox label.radio { text-align :left; padding-right :20px; width :100px; }
/* END of mbox - definition ************************************************* */
/* ************************************************************************** */
div.mbox input [type="checkbox"] { width :2.5em; }
div.mbox.dev-info { background :#dddddd; font-size :0.9em; overflow :auto; height :auto; white-space :normal; margin :0 auto 3em; position :relative; }
div.mbox.dev-info div span { margin-bottom :1px; }
/* */
.msg-box { background :#e5ffe6; border :0.2em #009900 solid; color :#336600; margin-bottom :1em; padding :0.63em; text-align : left; }
.error-box { background :#ffeeee; border :0.2em #884444 solid; color :#440000; margin-bottom :1em; padding :0.63em; text-align :center; }
.msg-box p,
.error-box p { font-size :120%; }
/* */
.cleft { float :left; }
.cright { float :right; }
.center{ text-align :center; }
.hidden { visibility :hidden; }
.left{ text-align :left; }
.bold{ font-weight :bold; }
.grey { color :#999999; }
.hide, .none { display :none; height :0; }
#hide1, #hide2, #hide3 { display :none; }
.right{ text-align :right; }
.row_0 { background-color :#fff; }
.row_1 { background-color :#eee; }
.rounded { border-radius :10px; -khtml-border-radius :10px; -webkit-border-radius :10px; -moz-border-radius :10px; }
/* set div layers in dead tables */
.info { padding :10px; margin-bottom :0.5em; background :#f8f8f8; color :#666666; font-size :91.7%; }
.note { border :2px #448844 solid; padding :10px; margin :10px auto; background :#eeffee; color :#004400; }
.important { border :2px #888844 solid; padding :10px; margin-bottom :1em; background :#ffffee; color :#444400; }
.warning { border :2px #884444 solid; padding :10px; margin-bottom :1em; background :#ffeeee; color :#440000; }
.section { background-color :#FDFDFD; border :1px solid #999999; font-size :0.9em; height :85px; margin :5px; padding :0; width :98%; }
.graphic { border :4px none #FDFDFD; height :50px; padding-left :3px; width :50px; }
.graphic img { background-color :#FFFFFF; border :1px none #D0D0D0; padding :4px; vertical-align :middle; width :50px; height :50px; }
.description { padding :4px 0 0; text-align :left; }
.title { text-align :left; padding :4px 5px 0px 3px; font-weight :bold; font-size :1.2em; margin-bottom :5px; }
   span.title { display :block; }
.tool_table td { text-align :left; vertical-align :top; }
.tool_table ul { margin :0; padding :0; margin-left :20px; margin-bottom :2px; }
.tool_table li { padding :1px; list-style-type :disc; }
/* new tablelayout without table attribute  */
div.settings_table { margin :0 auto; width :90%; }
form.settings_table { border :1px none #eeee; font-family :verdana,arial,helvetica,sans-serif; margin :5px auto; padding :5px; }
   form.settings_table fieldset { border :1px none #eeeeee; display :block; line-height :1.0em; margin-bottom :1px; padding :3px 0px 3px 0px; }
   form input[type="file"] { width :80%; border :1px solid black; background-color :#ccccff; }
   legend.settings_table ,
   form.settings_table legend { border :none; color :#006699; font-size :140%; margin :1em; padding :0; }
   form.settings_table div.sub-row { background-color :transparent !important; background-color :#eeeeee; }
   form.settings_table label { text-align :right; margin : 1px auto; }
   form.settings_table label.setting_name { clear :left; color :#333333; vertical-align :top; display :block; margin :3px auto; min-height :1.6em; float :left; padding-right :5px; width :25%; }
   form.settings_table fieldset div.input { padding :0; margin :0 auto; vertical-align :top; overflow :hidden; display :inline; line-height :2em; min-height :1em; list-style-type :none; width :60%; }
   form.settings_table fieldset div.input input.radio { margin :0.8em auto; border :none; padding-left :6px; }
   form.settings_table fieldset div.input label { margin :6px auto; padding-left :6px; min-height :1em; width :35%; float :none; display :inline; vertical-align :top; }
   form.settings_table input[type="text"],
   form.settings_table input[type="password"] { border :1px solid #666666; margin : 0px auto; padding-left : 5px; width :72%; }
   form.settings_table input.radio { border :1px none #666666; margin :0px auto; padding-left :0.5em; height :1em; }
   form.settings_table input[type="button"].button { border :1px solid #666666; color :#000000; text-align :left; font-weight :bold; background-color :#dddddd; margin : 2px auto; padding :2px 0px 2px 6px; width : 70%; }
   form.settings_table textarea { border :1px solid #666666; margin :3px auto; padding-left :0.5em; min-height :1em; width :72%; }
   form.settings_table select { border :1px solid #666666; margin :3px auto; padding-left :0.5em; min-height :1em; width :73%; }
/* */
div.content_box form { }
div.sub-row { background-color :#eeeeee; margin : 1px auto; overflow :hidden; padding :0; }
.content_box { position :relative; margin :0px auto; padding :0; overflow :visible; }
   .content_box form { background :transparent; height :auto; }
   .content_box li { float :left; margin :auto 0.8em; list-style-type :none; display :block; }
   .content_box ul { padding :0 0 0 15px; margin :0 auto; width :100%; }
   .content_box h5.title { color :#339bff; font-weight :bold; font-size :1.2em; margin :0 auto; text-align :left; }
   .content_box h5.title a:link  { color :#0067ca; }
   .content_box h5.title a:hover  { color : #0099ff; }
   .content_box h5.noscript { font-size :1.2em; padding :5px 0px 5px 0px; }
   .content_box div.noscript { height :auto; width :100%; padding :5px; background :none no-repeat left; }
/*  */
   button { padding :2px; }
   button.link { padding :0px; background-color :transparent; display :inline; vertical-align :middle; border :0px none; cursor :pointer; }
   button span.title { font-size :1.3em; display :inline; font-weight :100; color :#007ac8; letter-spacing :1px; }
.curved { border : 1px solid #666666; }
/*  */
textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }
#file_mode, 
#dir_mode { width :290px; height :auto; margin-right :0.5em; font-size :1em; }
#file_mode table, 
#dir_mode table { width :290px; height :auto; margin-right :0.5em; font-size :1em; }
#file_mode input, 
#dir_mode input { width :12px; height :12px; }
table.permission_box { width :280; border :2px solid #dddddd; }
table.permission_box caption { text-align :center; line-height :30px; font-weight :bold; }
table.permission_box thead { text-align :left; background :#d2e8e8; }
table.permission_box tbody { text-align :left; }
table.permission_box td label { text-align :left; vertical-align :text-top; font-size :0.8em; }
/*  */
div.pages_list { font-size :0.6em; width :100%; }
table.pages_list table td, 
table.pages_view td { font-size :1.2em; padding :0 2px; vertical-align :middle; margin :0 auto; height :30px; }
table.pages_view { background-color :#cee1ea; border :0; border-spacing :0px; font-size :1.5em; line-height :2em; margin :0 auto; table-layout :fixed; width :100%; }
table.pages_view a:link { display :inline; padding-top :2px; text-decoration :none; vertical-align :baseline; }
table.pages_view a:hover { background :transparent; text-decoration :none; }
table.pages_view tr:hover { background-color :#f1f8dd; }
table a:link { display :inline; font-weight :bold; padding-top :0; text-decoration :none; vertical-align :baseline; }
table a:hover { color :#6699ff; }
.header_list_actions { text-align :left; width :150px; }
.header_list_block { text-align :left; width :120px; }
.header_list_page_id { padding-right :15px; text-align :right; width :30px; }
.header_list_page_title, 
.list_page_title { width :350px; }
.list_page_title, .list_menu_title, .header_list_menu_title, .header_list_type { text-align :left; vertical-align : middle; }
.header_list_pubdate_start, 
.header_list_pubdate_end, 
.list_pubdate_start, 
.list_pubdate_end { text-align :left; white-space :nowrap; width :185px; }
.header_list_sections_actions { text-align :left; width :30px; }
.header_list_type { font-size :1em; padding :4px 0; text-align :left; }
.jsadmin_drag img { cursor :pointer; margin-top : 0px; padding : 0px 0; vertical-align : baseline; }
.list_actions { height :20px; padding :0 1px; text-align :left; width :20px; }
.list_page_code, 
.list_page_language { width :240px; }
.list_pubdate_start input[type="text"], 
.list_pubdate_end input[type="text"] { width :120px; }
.list_section_id, 
.list_page_id, 
.header_list_section_id { padding :0 3px; text-align :right; vertical-align : middle; width :2em; }
.modify_link { display :inline; padding :0 2px; vertical-align : middle; }
.page_list { display :none; }
img.page_list_rights { border :none; float :left; margin :0 auto; padding :0 2px; }
.page_list_show li { display :block; }
.pages_list 
.icon_col td img { border-style :none; display :inline; float :left; padding-right :7px; }
.pages_list table { background-color :#dcdcdc; font-size :1.3em; margin :0 auto; table-layout :fixed; width :100%; }
.pages_list ul { font-weight :normal; margin :0; padding :0px; }
.pages_list ul li { list-style-type :none; margin :1px 0; padding : 0; vertical-align :baseline; }
.sectionrow { font-size :1.1em; height :30px; }
.sectionrow a:link { color :#003366; font-weight :bold; text-decoration :none; }
.sectionrow a:hover { color :#6699ff; }
.sections_list,
.pages_list_header { background :#dddddd; line-height :1.5em; font-size :1em; text-align :left; height :25px; font-weight :bold; padding-left :10px; }
.value_page_code { color :#006400; font-weight :400; width :240px; }
.section-info {
   margin :1em auto;
}
/* depending styles for /admin/pages_settings */
div.page-settings { font-size :0.9em; border :none; text-align :left; }
	div.page-settings div.caption { font-size :1em; font-weight :bold; padding :3px 0 0px 0; margin :0; padding :0; border :none; margin-bottom :10px; border-bottom :groove 2px #a8bccb; }
	div.page-settings label { display :inline-block; }
	div.page-settings input,
	div.page-settings textarea,
	div.page-settings select { width :200px; }
	div.page-settings select { }
	div.page-settings textarea { height :5em; }
	div.page-settings [type=checkbox] { width :2.5em; }
div.page-settings-leftcol { float :left; padding :10px 10px 10px 10px; border-right :groove 2px #a8bccb; }
	div.page-settings-leftcol div { padding :2px 0 3px 0; vertical-align :top; }
	div.page-settings-leftcol label { width :170px; vertical-align :top; }
div.page-settings-righttoprow { margin-left :417px; padding :5px 20px 5px 10px; }
	div.page-settings-righttoprow label { width :110px; vertical-align :top; }
div.page-settings-centercol { float :left; padding :10px 20px 10px 20px; border-right :groove 2px #a8bccb; }
div.page-settings-rightcol { float :left; padding :10px 20px 10px 10px; border :none; }
h1, h2, h3, h4, h5, h6 { color :#003366; display :block; font-weight : normal; margin :0.5em auto; padding-bottom :5px; }
h6 { font-size : 105%; }
/* end depending styles for /admin/pages_settings */
div.page-settings-leftcol label { background-repeat :no-repeat; background-position :right; text-align :right; padding-right :17px; font-weight :bold; width :156px; } 
div.page-settings-leftcol label a:link { text-decoration :none; color :#003366; }
div.page-settings-leftcol label a:hover { color : #006699; text-decoration : underline; }
div.page-settings-leftcol textarea { resize :vertical; } 
#overDiv { max-width :450px; background-position :center; background-attachment :fixed; text-align :left; padding :1px; font-size :120%; }
/* */
div.page_group { height: 180px;max-height: 260px; margin: 0; padding: 0; overflow: auto; }
div.page_group div { overflow: hidden; }
div.page-settings p.page_user,
div.page-settings p.page_group {  } 
/* */
.header_title, .setting_value input, .setting_value select, .setting_value textarea, .value_input input, .value_input text, .value_input select, .form_submit, .input_full { width :80%; }
.content_box { text-align :left; }
div.mbox span { white-space :nowrap; }
div.mbox span label { padding-right :5px; }
div.mbox span [type="checkbox"] { width :2.5em; }
div.col_content { margin :auto 5px; padding :2px 0; }
div.col_content ul li { font-size :86%; margin :auto 2px; }
.c33, 
div.col_width33 { width :33.333%; }
.c50, div.col_width50 { width : 47%; }
.c60, div.col_width60 { width :60%; }
.h65 { min-height :65px; overflow :auto; }
.h80 { height :80px; }
.min_h100 { min-height :100px; }
.c100, div.col_width100 { width :100%; margin :0 auto; }
.c400, .col_width400 { width :400px; }
/* */
div.admintools { display :block; border :0px none #333333; margin :auto 2%; min-height :1%; padding :2px; text-align :center; overflow :auto; }
div.admintools .section { width :100%; }
   div.admintools ul { padding :0; min-height :100px; overflow :hidden; }
   div.admintools ul li { float :left; border :0px none #666666 solid; max-height :7em; list-style-type :none; padding :1px; margin :2px 1% auto 1%; width :46%; }
   div.admintools li span { display :block; float :none; line-height :1em; font-size :1.2em; }
   div.admintools span.title { font-size :1.1em; }
/* */
.access h2,.access h3,.access h4,.access h6 { font-weight :bold; }
