html { overflow: -moz-scrollbars-vertical; /* Force firefox to always show room for a vertical scrollbar */ }
body,td,th,input,textarea { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
body { margin: auto; background-color: #A8BCCB; /*background-image: url(images/background.png);*/ background-repeat: repeat-x; }
img { border: 0px; }
form { margin: 0; }
hr { margin: 15px 0px 15px 0px; color: #003366; height: 1px; }
h1 { color: #000000; font-size: 20px; text-align: center; text-transform: uppercase; }
h2 { margin: 5px 0px 5px 0px; color: #336699; font-size: 15px; }
h4 { margin: 0; border-bottom: 1px solid #DDD; padding-bottom: 5px; }
a:link, a:visited, a:active { color: #003366; text-decoration: none; }
a:hover { color: #336699; text-decoration: none; }
ul, li { margin: 0; padding: 0; list-style: none; }
label { cursor: pointer; }
input:focus, input:active, select:focus, textarea:focus { background: #F1F8FD; }
iframe { border: 1px solid #35373a; }
div.box { width: 100%; margin: -10px 0 0 0; font-size: small; text-align: right; }
.header { width: 900px; margin: 0 auto; }
.container { width: 85%; margin: 0 auto; background: #fff url(images/bgtitle.png); background-repeat: repeat-x; }
.content { padding: 20px; width: 98%; height: 280px; vertical-align: top; }
.current a, .current a:link, .current a:active, .current a:visited { background: #fff url(images/menuo.png); background-repeat: repeat-x; color: #fff; }
.description { width: 240px; padding: 0px 0px 0px 3px; text-align: left; vertical-align: top; }
.graphic { width: 50px; border: 4px solid #FDFDFD; padding-left: 3px; height: 50px; }
.graphic img { padding: 3px 12px 3px 3px; margin-right: 12px; border-right: 3px solid silver; background-color: #FFFFFF; vertical-align: middle; }
.menu { margin: 0; padding: 0; padding-top: 8px; padding-bottom: 10px; padding-left: 8px; background: #000 url(images/menu.png); background-repeat: repeat-x; }
.menu li { padding-right: 1px; list-style-type: none; display: inline; }
.menu a, .menu a:link, .menu a:active, .menu a:visited { border-bottom: 0; padding: 7px 11px 9px 11px; color: #fff; }
.menu a:hover { color: #fff; background: #fff url(images/menuo.png); background-repeat: repeat-x; text-decoration: none; }
.note { color: #666666; font-size: 10px; }
.page_list {width:100%;}
.pages_list .icon_col td img { border-style: none; float: left; padding-right: 7px; display: block; }
.pages_list table { width: 100%; margin: 0 auto; background-color: #DCDCDC; }
.pages_list ul { margin: 0; padding: 0px; font-weight: normal; }
.pages_list ul li { margin: 2px 0; padding: 0px; list-style-type: none; }
.page_list_show li { display: block; }
img.page_list_rights { border: none; margin-right: 5px; float: left; margin-top: 2px; margin-bottom: 2px; }
.content input { font-size: 12px; }
.row_a { background-color: #ECF3F7; }
.row_b { background-color: #DBEBF2; }
.section { margin-top: 10px; padding: 0px; /*border: 1px solid #999999;*/ width: 100%; background-color: #FDFDFD; height: 75px; }
.sections_header { width: 100%; margin-bottom: 10px; border: none; background-color: #F0F0F0; height: 50px; }
.sections_header td { padding: 5px; }
.setting_name { width: 20%; }
.setting_value { width: 90%; }
.setting_value textarea { height: 50px; }
.title { width: 90%; padding: 4px 0px 0px 3px; color: #003366; font-weight: bold; font-size: 14px; text-align: left; height: 16px; }
.tool_table ul { margin: 0; padding: 0; margin-left: 20px; margin-bottom: 10px; }
.tool_table li { padding-bottom: 5px; list-style-type: disc; }
/* CSS STYLES FOR THE PAGES SECTION */
table.pages_view { width: 100%; margin: 0 auto; border: 0; background-color: #ECF3F7; border-spacing: 0px; }
table.pages_view tr:hover { background-color: #F1F8DD; }
/* FORMS */
.submit, .cancel { width: 100px; margin-top: 5px; }
.form_submit .right { text-align: right; }
.input_small { width: 20px; }
.input_normal { width: 120px; }
.input_medium { width: 150px; }
.input_wide { width: 200px; }
.input_large { width: 300px; }
select option.disabled { color: #aaa; }
.jsadmin_drag img { padding: 3px 0; margin-top: 1px; vertical-align: top; cursor: pointer; }
.modify_link { padding-top: 4px; display: inline; vertical-align: middle; }
.header_list_page_id { width: 50px; padding-right: 15px; text-align: right; }
.header_list_actions { width: 150px; text-align: left; }
.list_actions { width: 20px; text-align: left; }
.sections_list { padding-left: 10px; font-weight: bold; }
.header_list_block { width: 180px; text-align: left; }
.header_list_sections_actions { width: 30px; text-align: left; }
.value_page_code { width: 240px; color: #006400; font-weight: 400; }
#multi_lingual { font-weight: bolder; }
/* Ende */
.pages_list table td, table.pages_view td { padding: 3px; }
.save, .reset, .input_narrow { width: 100px; }
.settings_table td, .tool_table td { text-align: left; vertical-align: top; }
#file_mode input, #dir_mode input { width: 12px; height: 12px; }
#hide2, .hide, .page_list { display: none; }
.header_list_page_title, .list_page_title { width: 300px; text-align: left; }
.list_section_id, .list_page_id, .header_list_section_id { width: 30px; text-align: right; }
.list_page_code, .list_page_language { width: 240px; }
.form_submit .left, .header_list_menu_title, .list_menu_title, .header_list_type { text-align: left; }
.header_title, .sections_list table, .setting_value input, .setting_value select, .setting_value textarea, .value_input input, .value_input text, .value_input select, .form_submit, .input_full { width: 100%; }
.header_list_pubdate_start, .header_list_pubdate_end, .list_pubdate_start, .list_pubdate_end { width: 200px; text-align: left; }
