html {overflow: -moz-scrollbars-vertical;} /* Force firefox to always show room for a vertical scrollbar */
body,td,th,input,textarea {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #000000;
}

body {
 background-color: #A8BCCB;
 background-image: url(images/background.png);
 background-repeat: repeat-x;
 margin: auto;
}

img {
	border: 0px;
}

form {
 margin: 0;
}

hr {
 margin: 15px 0px 15px 0px;
 color: #003366;
 height: 1px;
}

h1 {
 text-align: center;
 font-size: 20px;
 color: #000000;
 text-transform: uppercase;
}

h2 {
 font-size: 15px;
 color: #336699;
 margin: 5px 0px 5px 0px;
}

h4 {
 margin: 0;
 border-bottom: 1px solid #DDD;
 padding-bottom: 5px;
}

a:link, a:visited, a:active {
 color: #003366;
 text-decoration: none;
}

a:hover {
 text-decoration: none;
 color: #336699;
}

ul, li {
 list-style: none;
 margin: 0;
 padding: 0;
}

label {
 cursor: pointer;
}

input:focus, input:active, select:focus, textarea:focus {
 background: #F1F8FD;
}

iframe {
 border: 1px solid #35373a;
}

div.box {
 font-size: small;
 width: 100%;
 text-align: right;
 margin: -10px 0 0 0;
}

.container {
 background: #fff url(images/bgtitle.png);
 background-repeat: repeat-x;
 width: 85%;
 margin: 0 auto;
}

.content {
 padding: 20px;
 height: 280px;
 width: 98%;
 vertical-align: top;
}

.current a, .current a:link, .current a:active, .current a:visited {
 background: #fff url(images/menuo.png);
 background-repeat: repeat-x;
 color: #fff;
}

.description {
 vertical-align: top;
 text-align: left;
 width: 240px;
 padding: 0px 0px 0px 3px;
}

.graphic {
 width: 50px;
 height: 50px;
 border: 4px solid #FDFDFD;
 padding-left: 3px;
}

.graphic img {
 vertical-align: middle;
 background-color: #FFFFFF;
	padding: 4px;
	border: 1px solid #D0D0D0;
}

.hide {
 display: none;
}

.menu {
 margin: 0;
 padding: 0;
 padding-top: 8px;
 padding-bottom: 10px;
 padding-left: 8px;
 background: #000 url(images/menu.png);
 background-repeat: repeat-x;
}

.menu li {
 list-style-type: none;
 display: inline;
 padding-right: 1px;
}

.menu a, .menu a:link, .menu a:active, .menu a:visited {
 border-bottom: 0;
 padding: 7px 11px 9px 11px;
 color: #fff;
}

.menu a:hover {
 text-decoration: none;
 color: #fff;
 background: #fff url(images/menuo.png);
 background-repeat: repeat-x;
}

.note {
 color: #666666;
 font-size: 10px;
}

.pages_list .icon_col td img {
 display: block;
 border-style: none;
 float: left;
 padding-right: 7px;
}

.pages_list table {
  width: 100%;
 margin: 0 auto;
 background-color: #f0f0f0;
}

.pages_list table td {
 padding: 3px;
}

.pages_list ul {margin:0;font-weight:normal; padding: 0px;}
.pages_list ul li {list-style-type:none;margin:2px 0; padding:0px;}

.page_list {
 display: none;
}

.page_list_show li {
 display: block;
}

img.page_list_rights {
 border: none;
 margin-right: 5px;
 float: left;
 margin-top: 2px;
 margin-bottom: 2px;
}

.content input {
	font-size: 12px;
}
.row_a {
 background-color: #ECF3F7;
}

.row_b {
 background-color: #DBEBF2;
}

.save, .reset {
 width: 100px;
}

.section {
 margin-top: 10px;
 padding: 0px;
 border: 1px solid #999999;
 height: 75px;
 width: 100%;
 background-color: #FDFDFD;
}

.sections_header {
 width: 100%;
 height: 50px; 
 margin-bottom: 10px;
 background-color: #F0F0F0;
 border: none;
}

.sections_header td {
 padding: 5px;
}

.settings_table td {
 vertical-align: top;
 text-align: left;
}

.setting_name {
 width: 20%;
}

.setting_value {
 width: 80%;
}

.setting_value input, .setting_value select, .setting_value textarea {
 width: 100%;
}

.setting_value textarea {
 height: 50px;
}

.title {
 width: 90%;
 text-align: left;
 font-weight: bold;
 font-size: 14px;
 color: #003366;
 height: 16px;
 padding: 4px 0px 0px 3px;
}

.tool_table td {
 vertical-align: top;
 text-align: left;
}

.tool_table ul {
 margin: 0;
 padding: 0;
 margin-left: 20px;
 margin-bottom: 10px;
}

.tool_table li {
 padding-bottom: 5px;
 list-style-type: disc;
}

.value_input input, .value_input text, .value_input select {
 width: 100%;
}

#file_mode input {
 width: 12px;
 height: 12px;
}

#dir_mode input {
 width: 12px;
 height: 12px;
}

#hide2 {
 display: none;
}

/* CSS STYLES FOR THE PAGES SECTION */

table.pages_view {
 width: 100%;
 margin: 0 auto;
 border: 0;
 border-spacing: 0px;
 background-color: #ECF3F7;
}

table.pages_view td {
 padding: 3px;
}

table.pages_view tr:hover {
 background-color: #F1F8DD;
}

/* FORMS */

.submit, .cancel {
 width: 100px;
 margin-top: 5px;
}

.form_submit {
 width: 100%;
}

.form_submit .left {
 text-align: left;
}

.form_submit .right {
 text-align: right;
}

.input_small {
 width: 20px;
}

.input_narrow {
 width: 100px;
}

.input_normal {
 width: 120px;
}

.input_medium {
 width: 150px;
}

.input_wide {
 width: 200px;
}

.input_large {
 width: 300px;
}

.input_full {
 width: 100%;
}

select option.disabled {
 color: #aaa;
}

.jsadmin_drag img {
 padding: 3px 0;
 margin-top: 1px;
 vertical-align: top;
 cursor: pointer;
}

.modify_link {
 padding-top: 4px;
 padding-left: 7px;
 text-indent: 7px;
}

.header_title {
	width: 100%;
}
.header_list_menu_title {text-align:left;}
.header_list_page_title {width:300px; text-align:left;}
.header_list_page_id {width:50px; text-align: right; padding-right:15px;}
.header_list_actions {width:150px; text-align:left;}

.list_menu_title {text-align:left;}
.list_page_title {width:300px;text-align:left; }

.list_page_id {width:30px;text-align: right; }
.list_actions {width:20px;text-align:left;}
.sections_list {font-weight:bold;padding-left:10px;}
.sections_list table {width:900px;}


.header_list_type {text-align:left;}
.header_list_block {text-align:left;width:180px;}
.header_list_pubdate_start {text-align:left;width:200px;}
.header_list_pubdate_end {text-align:left;width:200px;}
.header_list_sections_actions {text-align:left;width:30px;}
.header_list_section_id {width:30px;text-align:right;}


.list_section_id {width:30px;text-align:right;}
.list_pubdate_start {text-align:left;width:200px;}
.list_pubdate_end {text-align:left;width:200px;}

/* Ende */