<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>CMS WebsiteBaker | Excessive Invalid Logins</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="Excessive Invalid Logins" />
    <meta name="keywords" content="" />
    <link href="../css/warn.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="main">
    <table class="header layout">
        <tr>
        	<td class="logo">
        		<a href="http://www.websitebaker2.org/" title=""><img src="../images/logo.png" alt="Logo" /></a>
        	</td>
        	<td></td>
        </tr>
    </table>

    <div class="table">
        <div class="td">
            <div class="content">
                <div class="login_box">
                        <div class="topdiv">
                        Invalid Logins
                        </div>
                        <div class="bottomdiv">
                        <h1>Excessive Invalid Logins</h1>
                        <h4>You have attempted to login too many times
                            <div class="center">
                            <img src="../icons/warning.png" alt="Excessive Invalid Logins" />
                            </div>
                        </h4>
                        <p>Close this Tab and restart your Browser</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <table class="footer">
    <tbody>
        <tr>
        	<td>
              <!-- Please note: the below reference to the GNU GPL should not be removed, as it provides a link for users to read about warranty, etc. -->
              <a href="http://www.websitebaker.org/" title="external">WebsiteBaker</a> is released under the
              <a href="http://www.gnu.org/licenses/gpl.html" title="WebsiteBaker is released under the GNU General Public License">GNU General Public License</a>
              <!-- Please note: the above reference to the GNU GPL should not be removed, as it provides a link for users to read about warranty, etc. -->
        	</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<!--- Icons from http://www.iconfinder.com Filter: Allowed for commercial use (No link required) -->
<!--- Icon Designer Alessandro Rei - http://www.kde-look.org/usermanager/search.php?username=mentalrey License: http://www.gnu.org/copyleft/gpl.html -->
<!--- Icon Designer Everaldo Coelho - http://www.everaldo.com/ License: http://www.gnu.org/licenses/lgpl.html -->
<!--- Icon Designer David Vignoni - http://www.icon-king.com/ License: http://www.gnu.org/licenses/lgpl.html -->
<!--- Icon Designer Pavel InFeRnODeMoN - http://www.kde-look.org/usermanager/search.php?username=InFeRnODeMoN License: http://www.gnu.org/copyleft/gpl.html -->
<!--- Icon Designer Alexandre Moore - http://sa-ki.deviantart.com/ License: http://www.gnu.org/licenses/lgpl.html -->
<!--- Icon Designer Alexandre Moore - http://sa-ki.deviantart.com/ License: http://www.gnu.org/copyleft/gpl.html -->
<!--- Icon Designer Gnome Project - http://art.gnome.org/themes/icon/ License: http://www.gnu.org/copyleft/gpl.html -->
